.idea/
.github/
node_modules/

.DS_Store
.npmrc
config/ksi-config.js
tools/proxy/httpd/01-ksi-proxy.conf

.eslintrc.js
.prettierrc
babel.config.js
jest-environment.js
tsconfig.json
webpack.config.js

src/
test/
test-integration/
jenkins/
nodejs/
web/
tools/
coverage/
